<html>

<head>
  <title>CDC Demo</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/javascripts/jsforce.min.js"></script>
  <style>
    table {
      border-collapse: collapse;
      margin: 20px auto;
      width: 70%;
      font-family: Arial, sans-serif;
    }
    th, td {
      border: 1px solid #aaa;
      padding: 8px;
    }
    th {
      background-color: #eee;
    }
    h3 {
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>CDC Demo App</h1>
  <div id="app">
    <ol>
        <span v-if="messages.length === 0">
            <li>No Messages</li>
        </span>        
        <span v-if="messages.length > 0">
            <!--li v-for="message in filteredmessages">
                {{ message }}
          </li--> 
          <div v-for="(tableData, i) in filteredmessages" :key="i">
          <h3>Event #{{ i + 1 }}</h3>
          <table>
            <thead>
              <tr>
                <!--<th>Field</th>
                <th>Value</th>-->
                <th v-for="item in tableData" :key="item.field">{{ item.field }}</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr v-for="item in tableData" :key="item.field">
                <td>{{ item.field }}</td>
                <td>{{ item.value }}</td>
              </tr>-->
              <tr>
                <td v-for="item in tableData" :key="item.field">{{ item.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>  
        </span>
    </ol>
  </div>
  <button onclick="javascript:logout()">Logout</button>
</body>

<script src="/javascripts/eventsscript.js"></script>

</html>
